<html>
	<head>
		<title>All blogposts</title>
		<link rel='stylesheet' type='text/css' href='/static/style.css'>
		<meta charset='utf-8'/>
	</head>
	<body>
		<h1>index</h1>
		{{range $post := .}}
			<p><a href="{{ $post.Link }}">{{ $post.Title }}</a> {{if .Metadata.date}} {{ $post.Date.Format "Jan 2, 2006" }} {{end}} </p>
		{{end}}
		<div class="footer">
			<a href="/feed.xml">rss</a>
		</div>
	</body>
</html>
