<html>
	<head>
		<title>{{ .Title }}</title>
		<meta charset='utf-8'/>
	</head>
	<body>
		<h1>{{ .Title }}</h1>
		{{if .Metadata.date}}
		<small>{{ .Date.Format "Jan 2, 2006" }}</small>
		{{end}}
		<div>
		{{ .Content }}
		</div>
	</body>
</html>
