body {
    background: #1b1b23;
    color: #858596;
}

a {
    color: #97bef9;
    text-decoration: none;
}

a:hover {
    color: #5982c1;
}

.footer {
    position: fixed;
    left: 1%;
    bottom: 1%;
    width: 100%;
    font-size: 18px;
}
